<% if @users %>
  <% if @users.size > 0 %>
    <div id="friend-lookup-results" class="well results-block col-md-12">
      <table class="search-results-table col-md-12">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><strong>Name:</strong> <%= user.username %></td>
              <td><strong>Email:</strong> <%= user.email %></td>
              <td><strong>Action:</strong> 
                <% if current_user.not_friends_with?(user.id) %>
                  <%= link_to "Follow", add_friend_path(user: current_user, friend: user), class: "btn btn-xs btn-success", method: :post %>
                <% else %>
                  <span class = "label label-primary">
                    Already Followed
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% elsif @users.size == 0 %>
    <div id="friend-lookup-results" class="well results-block col-md-12"> 
      <p align = "center">No User Match This Searching Criteria</p>
    </div>
  <% end %>
<% end %>