.simple-calendar {

    .calendar-heading {
        padding-bottom: 7px;

        .calendar-title {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .table {
        border: 2px solid grey;
    }

    .day {
        background-color: lightyellow;
        height: 80px;
        width: 10%;
    }

    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}

    .today {
        border: 2px dashed grey;
    }
    .past {}
    .future {}

    .start-date {}

    .has-events {
        background-color: #E0FFFF;
    }

    .prev-month {
        background-color: white;
        font-size: 0;
    }
    .next-month {
        background-color: white;
        font-size: 0;
    }
    .current-month {}
}

.day_format {
    text-align: left;
    width: 10%;
    font-size: 90%;
}
