<div class="media-heading">
    <% if notification.second_target_type == 'request' %>
        <%= link_to notification.actor.username, main_app.user_path(notification.actor) %>
        has requested to borrow your item:
        <%= link_to notification.second_target.name, main_app.item_path(notification.second_target) %>
    <% else %>
        <%= link_to notification.actor.username, main_app.user_path(notification.actor) %>
        has updated your request to borrow their item:
        <%= link_to notification.second_target.name, main_app.item_path(notification.second_target) %>
    <% end %>
</div>
