<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<p>Username: <%= @user.username %> </p>
		<p>Email: <%= @user.email %> </p>

    <p><%=link_to "Back", new_user_path %></p>
	</body>
</html>