<div>We are Computer Engineering Students from University of Toronto.</div>
<div>This website is the project assigned by Professor Michael Stumm from CSC444</div>


<div>
  <h3>Our project goal is to design and implement a website that helps people to borrow something or lend out stuff to others.
  </h3>
  <div class = "about-image-1">
    image here
  </div>
</div>

<div><h3>
  This website is totally free to use. You can also make real friends on this website!
</h3>
  <div class = "about-image-1">
    image here
  </div>
</div>


