<div class = "container">
		<table class="table table-striped">
		<thead>
			<tr>
				<th colspan="1" class="page-header" align = "center">
					<h2>CSC444 Team</h2>
				</th>
			</tr>
			<tr>
				<th>Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td>
						Haotian Zhao
					</td>
					<td>
						haotian.zhao@mail.utoronto.ca
					</td>
        </tr>
        <tr>
					<td>
						Peiyuan Sun
					</td>
					<td>
						peiyuan.sun@mail.utoronto.ca
					</td>
        </tr>
        <tr>
					<td>
						Nathaniel Xu
					</td>
					<td>
						mathaniel.xu@mail.utoronto.ca
					</td>
        </tr>
        <tr>
					<td>
						Vlad Ilgiovskiy
					</td>
					<td>
						vlad.ilgiovskiy@mail.utoronto.ca
					</td>
        </tr>
        <tr>
					<td>
						Xuejun Chang
					</td>
					<td>
						xuejun.chang@mail.utoronto.ca
					</td>
				</tr>
		</tbody>
  </table>
</div>
