<div class="container">
  <div>
    <h3>I forgot my password. How can I get a new one?</h3>
    Use the Retrieve/Reset Password function.
    Enter your email address. You will be sent a link to reset your password.
  </div>
  <div>
    <h3>How do I create an account and login?</h3>
    Creating a user account is also referred to as 'signup'. Please note our
    <li><%= link_to "privacy policy", welcome_privacy_policy_path %></li>.

    <div>Click on the 'Get Started!' link in the upper right area of the website.</div>
      <div>Click on the 'Sign Up with Email' or 'Using Facebook' tab.</div>
        <div>Fill in the required information.</div>
  </div>
  <h3>How do I edit my profile?</h3>
  <div>To edit any of your personal details such as your default email address or password, please click on your username in the upper right area of the website.
    You can change your profile when you click 'view profile'-->'edit'.</div>

  <h3>What if I forget to return the borrowed items?</h3>
  <div>We will send emails to notify you when you forget it.</div>

  <h3>What is the hourly price for borrowing an item?</h3>
  <div>Zero. This service is totally free to use.</div>

  <h3>What if I forget what I have lend to whom?</h3>
  <div>Don't worry. You can go to 'Manage your Items'-->'Lent Items' in the nav bar. Then you can see all items you lent there.</div>
</div>