    <% if flash[:errors] %>
        <div class="modal-dialog col-xs-4">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Invalid Form</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <% flash[:errors].each do |message| %>
                            <div align="left"><%= message %></div>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    <% end %>
