<% if @user_review.errors.any? %>
    <div class="modal-dialog col-xs-4">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Invalid Form</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <% @user_review.errors.full_messages.each do |message| %>
                        <div align="left"><%= message %></div>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
<% end %>
