<br/><br/><br/><h1 align = "center">Edit Registered Item</h1>

 <%= render 'form' %>

<div class= "container" >
  <div class = "col-sm-offset-2 col-sm-10">
    <%= link_to 'back', item_path(@item) %>
  </div>
</div>

<br/>

<div class= "container" >
  <div class = "col-sm-offset-2 col-sm-10">
    <%= link_to 'All items', items_path %>
  </div>
</div>

