// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}

.item_pic {
  max-height: 200px;
  width: auto;
  border: 1px solid #000;
  margin: 10px 5px 5px 5px;
}

.picture-in-index {
  position: relative;
  float: left;
  height: 130px;
  width: 130px;
  border: 1px solid #000;
  margin: 5px 5px 5px 5px;
}


.item-name {
  left: 200px;
  font-weight: bold;
  font-size: 1.5em;
}

.item-description {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.item_look_up_container {
  height: 90%;
}

.field_with_errors {
  @extend .has-error;
}

#item-lookup .search_sub_part {
  padding: 0px;
}

.item_edit_all_item {
  margin-bottom: 0 !important;
}

.item_form {
  margin-bottom: 0 !important;
}
