// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-results-table{
    border-collapse: separate;
    border-spacing: 10px;
}

.user-show-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

.panel-body {
  ul {
    padding-left: 0;
    list-style-type: disc !important;
    padding-inline-start: 30px;
  }
  li {
    display: list-item !important;
  }
}

.responsive {
  width: 100%;
  height: auto;
}
