    <% if flash[:errors] %>
      <div class = "row">
        <div class = "col-xs-8 col-xs-offset-2">
          <div class = "panel panel-danger">
            <div class="panel-heading">
              <h2 class = "panel-title">
                The form contains <%= pluralize(flash[:errors].count, "error") %>.
              </h2>
              <div class = "panel-body">
                <ul>
                  <% flash[:errors].each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
