<% if @item_review.errors.any? %>
  <div class = "row">
    <div class = "col-xs-8 col-xs-offset-2">
      <div class = "panel panel-danger">
        <div class="panel-heading">
          <h2 class = "panel-title">
            The form contains <%= pluralize(@item_review.errors.count, "error") %>.
          </h2>
          <div class = "panel-body">
            <ul>
              <% @item_review.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
